//===============
// COLORS [$c-]
//================================
// Color Scheme: Monochromatic
//================================

// # Color Palette

$c-primary-l: #f36;
$c-primary: #eb2f64;
$c-primary-d: #ba265d;


// # Black & White Spectrum

$c-white-1: #fafafa;
$c-white-2: #f7f7f7;
$c-white-3: #f4f4f4;

$c-grey-l-1: #eee;
$c-grey-l-2: #ddd;
$c-grey-l-3: #ccc;

$c-grey-m-1: #bbb;
$c-grey-m-2: #aaa;

$c-grey-d-1: #999;
$c-grey-d-2: #888;
$c-grey-d-3: #777;
$c-grey-d-4: #666;
$c-grey-d-5: #555;
$c-grey-d-6: #444;

$c-black-1: #333;
$c-black-2: #222;
$c-black-3: #1a1a1a;
$c-black-4: #111;
$c-black-5: #090909;

$c-white: #fff;
$c-black: #000;

// # Social

$c-facebook: #1877f2;
$c-twitter: #1da1f2;
$c-instagram: #e4405f;
$c-youtube: #f00;
$c-twitch: #6441a4;
$c-patreon: #f96854;

//===============
// SHADOWS [$s-]
//===============

// No shadow variables

//===============
// FONTS [$f-]
//===============

$f-primary: 'Roboto', sans-serif;
// $f-secondary: 'fontname', cursive;
// $f-safe: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
