.form {
  margin: 5% auto 2%;
  width: 55%;
  text-align: left;

  label {
    font-weight: bold;
    color: #555;
  }

  input,
  textarea {
    box-sizing: border-box;
    margin: 2% 0;
    text-align: left;
    display: block;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 0 3px 2px #999;
    color: #555;
  }

  @media (max-width: 450px) {
    width: 80%;
    padding: 2%;
    margin: 5% auto;
  }
}

.form button {
  outline: none;
  font-size: 1.2rem;
  color: #85d842;
  background-color: #fff;
  border: 1px solid #85d842;
  border-radius: 5px;
  padding: 7px 12px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #85d842;
    border: 1px solid #85d842;
  }
}
