.home {
  flex: 1;
  height: 100vw;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;

  h1 {
    color: #444;
    font-weight: bolder;
    margin-top: 5%;
  }

  h2 {
    color: #ca5714;
  }

  h2 b {
    color: #444;
    text-transform: uppercase;
  }

  img {
    height: 450px;
    max-width: 100%;
    width: 450px;

    @media (max-width: 450px) {
      height: 300px;
      width: 300px;
    }
  }
  
  @media (max-width: 450px) {
    overflow: hidden;
  }
}
