.nav {
  padding: 1.5rem;
  background-color: #333;
  text-align: left;
  flex: 0 0 auto;
}

.navlink {
  color: #ccc;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.active {
  padding-bottom: 2px;
  border-bottom: 0.1rem solid #ca5714;
}